@import "tailwindcss";

@theme {
  --font-sans: 'Inter', system-ui, sans-serif;
  --color-app-bg: #0f172a;
  /* Slate 900 */
  --color-card-bg: #1e293b;
  /* Slate 800 */
  --color-card-hover: #334155;
  /* Slate 700 */
  --color-primary: #3b82f6;
  /* Blue 500 */
}

body {
  font-family: var(--font-sans);
  background-color: var(--color-app-bg);
  color: #f8fafc;
  /* Slate 50 */
}